.transactionHistory {
  width: 800px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.transactionHistory th {
  background-color: #00bcd5;
  color: #fff;
  text-transform: uppercase;
}

.transactionHistory th ~ th {
  border-left: 1px solid #fff;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
}

.transactionHistory td ~ td {
  border-left: 1px solid #e0e3e4;
}

.transactionHistory tr:nth-child(even) td {
  background-color: #ecf1f4;
}
